<div class="container">
  <div class="action-buttons">
    <button type="button" class="generate-btn" (click)="onSubmit()">
      PDF生成
    </button>
    <button type="button" class="reset-btn" (click)="resetForm()">
      リセット
    </button>
  </div>

  <form [formGroup]="reportForm">
    <div id="nursing-report" class="report-container">
      <h1 class="title">訪問看護報告書</h1>

      <table>
        <tr>
          <td style="width: 15%">利用者氏名</td>
          <td style="width: 35%">
            <input
              type="text"
              formControlName="patientName"
              style="width: 95%; border: none"
            />
          </td>
          <td style="width: 15%">生年月日</td>
          <td>
            <input
              type="text"
              formControlName="birthYear"
              style="width: 40px; text-align: right; border: none"
            />年
            <input
              type="text"
              formControlName="birthMonth"
              style="width: 30px; text-align: right; border: none"
            />月
            <input
              type="text"
              formControlName="birthDay"
              style="width: 30px; text-align: right; border: none"
            />日（ <span>　　</span>）歳
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle">要介護認定の<br />状況</td>
          <td colspan="3" style="text-align: center; vertical-align: middle">
            <div class="care-level-container">
              <span>要支援（</span>
              @for (level of [1, 2]; track level) {
              <div class="care-level-item" (click)="toggleCareLevel(level)">
                <span class="care-level-number">{{ level }}</span>
                @if (reportForm.get('requireCareLevel')?.value === level) {
                <span class="care-level-circle">○</span>
                }
              </div>
              }
              <span>）</span>

              <span style="margin: 0 10px">要介護（</span>
              @for (level of [1, 2, 3, 4, 5]; track level) {
              <div class="care-level-item" (click)="toggleCareLevel(level + 2)">
                <span class="care-level-number">{{ level }}</span>
                @if (reportForm.get('requireCareLevel')?.value === level + 2) {
                <span class="care-level-circle">○</span>
                }
              </div>
              }
              <span>）</span>
            </div>
          </td>
        </tr>
        <tr>
          <td style="text-align: center; vertical-align: middle">住　　所</td>
          <td colspan="3">
            <input type="text" style="width: 100%; border: none" />
          </td>
        </tr>
        <tr>
          <td rowspan="2" style="text-align: center; vertical-align: middle">
            訪問日
          </td>
          <td colspan="3">
            <div class="calendar-container">
              <table class="calendar">
                <tr>
                  <td colspan="7" class="center">2025年3月</td>
                </tr>
                <tr>
                  @for (day of [1, 2, 3, 4, 5, 6, 7]; track day) {
                  <td (click)="toggleVisitDate(day - 1)" class="calendar-day">
                    <span class="day-number">{{ day }}</span>
                    @if (getVisitDatesArray()[day-1] > 0) {
                    <span class="day-circle">{{
                      getVisitMark(getVisitDatesArray()[day - 1])
                    }}</span>
                    }
                  </td>
                  }
                </tr>
                <tr>
                  @for (day of [8, 9, 10, 11, 12, 13, 14]; track day) {
                  <td (click)="toggleVisitDate(day - 1)" class="calendar-day">
                    <span class="day-number">{{ day }}</span>
                    @if (getVisitDatesArray()[day-1] > 0) {
                    <span class="day-circle">{{
                      getVisitMark(getVisitDatesArray()[day - 1])
                    }}</span>
                    }
                  </td>
                  }
                </tr>
                <tr>
                  @for (day of [15, 16, 17, 18, 19, 20, 21]; track day) {
                  <td (click)="toggleVisitDate(day - 1)" class="calendar-day">
                    <span class="day-number">{{ day }}</span>
                    @if (getVisitDatesArray()[day-1] > 0) {
                    <span class="day-circle">{{
                      getVisitMark(getVisitDatesArray()[day - 1])
                    }}</span>
                    }
                  </td>
                  }
                </tr>
                <tr>
                  @for (day of [22, 23, 24, 25, 26, 27, 28]; track day) {
                  <td (click)="toggleVisitDate(day - 1)" class="calendar-day">
                    <span class="day-number">{{ day }}</span>
                    @if (getVisitDatesArray()[day-1] > 0) {
                    <span class="day-circle">{{
                      getVisitMark(getVisitDatesArray()[day - 1])
                    }}</span>
                    }
                  </td>
                  }
                </tr>
                <tr>
                  @for (day of [29, 30, 31]; track day) {
                  <td (click)="toggleVisitDate(day - 1)" class="calendar-day">
                    <span class="day-number">{{ day }}</span>
                    @if (getVisitDatesArray()[day-1] > 0) {
                    <span class="day-circle">{{
                      getVisitMark(getVisitDatesArray()[day - 1])
                    }}</span>
                    }
                  </td>
                  }
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
              <table class="calendar">
                <tr>
                  <td colspan="7" class="center">2025年4月</td>
                </tr>
                <tr>
                  @for (day of [1, 2, 3, 4, 5, 6, 7]; track day) {
                  <td class="calendar-day">
                    <span class="day-number">{{ day }}</span>
                  </td>
                  }
                </tr>
                <tr>
                  @for (day of [8, 9, 10, 11, 12, 13, 14]; track day) {
                  <td class="calendar-day">
                    <span class="day-number">{{ day }}</span>
                  </td>
                  }
                </tr>
                <tr>
                  @for (day of [15, 16, 17, 18, 19, 20, 21]; track day) {
                  <td class="calendar-day">
                    <span class="day-number">{{ day }}</span>
                  </td>
                  }
                </tr>
                <tr>
                  @for (day of [22, 23, 24, 25, 26, 27, 28]; track day) {
                  <td class="calendar-day">
                    <span class="day-number">{{ day }}</span>
                  </td>
                  }
                </tr>
                <tr>
                  @for (day of [29, 30]; track day) {
                  <td class="calendar-day">
                    <span class="day-number">{{ day }}</span>
                  </td>
                  }
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="visit-note">
            訪問日を○で囲むこと。理学療法士、作業療法士又は言語聴覚士による<br />
            訪問看護を実施した場合は◎、特別訪問看護指示書に基づく訪問看護を<br />
            実施した日は△で囲むこと。緊急時訪問を行った場合は×印とすること。<br />
            なお、右表は訪問日が２月にわたる場合使用すること。
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle; height: 100px">病状の経過</td>
          <td colspan="3" style="height: 100px">
            <textarea
              formControlName="specialNotes"
              style="width: 100%; height: 100%; border: none; resize: none"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle; height: 100px">看護の内容</td>
          <td colspan="3" style="height: 100px">
            <textarea
              formControlName="nursingContent"
              style="width: 100%; height: 100%; border: none; resize: none"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td style="vertical-align: middle; height: 80px">
            家庭での介護<br />の状況
          </td>
          <td colspan="3" style="height: 80px">
            <textarea
              formControlName="familyCooperation"
              style="width: 100%; height: 100%; border: none; resize: none"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td rowspan="3" style="vertical-align: middle">
            衛生材料等の<br />使用量および<br />使用状況
          </td>
          <td colspan="3">
            衛生材料等の名称：（<input
              type="text"
              formControlName="materialName"
              style="border: none; width: 70%"
            />）<br />
            使用及び交換頻度：（<input
              type="text"
              formControlName="usagePurpose"
              style="border: none; width: 70%"
            />）<br />
            使用量：（<input
              type="text"
              formControlName="usageAmount"
              style="border: none; width: 70%"
            />）
          </td>
        </tr>
        <tr>
          <td colspan="3">
            衛生材料等（種類・サイズ・必要量等）の変更の必要性：　
            <label style="margin-right: 10px">
              <input
                type="radio"
                [value]="true"
                formControlName="materialChange"
              />
              有
            </label>
            ・
            <label style="margin-left: 10px">
              <input
                type="radio"
                [value]="false"
                formControlName="materialChange"
              />
              無
            </label>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="height: 60px">
            <textarea
              formControlName="changeDetails"
              style="width: 100%; height: 100%; border: none; resize: none"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td style="height: 30px">特記すべき事項</td>
          <td colspan="3" style="height: 100px">
            <textarea
              formControlName="otherNotes"
              style="width: 100%; height: 100%; border: none; resize: none"
            ></textarea>
          </td>
        </tr>
        <tr>
          <td>作 成 者</td>
          <td>
            氏 名：<input
              type="text"
              formControlName="creatorName"
              style="border: none; width: 70%"
            />
          </td>
          <td colspan="2">職 種： 看護師・保健師</td>
        </tr>
      </table>

      <div style="text-align: center; margin-top: 20px">
        上記のとおり、指定訪問看護又は看護サービスの提供の実施について報告いたします。
      </div>

      <div class="sign-date">
        <div>2025年3月17日</div>
      </div>

      <div style="display: flex; justify-content: center">
        <div style="width: 350px; text-align: right">
          <div>
            事業所名：<input
              type="text"
              formControlName="caregiverFacility"
              style="border: none; width: 70%"
            />
          </div>
          <div>管理者氏名：<span style="margin-left: 10px"></span></div>
        </div>
      </div>

      <div class="stamp-position">
        <div class="stamp-text">㊞</div>
      </div>
    </div>
  </form>
</div>
