<nav>
  <div class="logo">
    <a routerLink="/">Angular v19 テンプレート学習ガイド</a>
  </div>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">ホーム</a></li>
    <li><a routerLink="/basic-template" routerLinkActive="active">テンプレートの基本</a></li>
    <li><a routerLink="/data-binding" routerLinkActive="active">データバインディング</a></li>
    <li><a routerLink="/event-binding" routerLinkActive="active">イベントリスナー</a></li>
    <li><a routerLink="/two-way-binding" routerLinkActive="active">双方向バインディング</a></li>
    <li><a routerLink="/control-flow" routerLinkActive="active">制御フロー</a></li>
    <li><a routerLink="/pipes" routerLinkActive="active">パイプ</a></li>
    <li><a routerLink="/ng-content" routerLinkActive="active">ng-content</a></li>
    <li><a routerLink="/ng-template" routerLinkActive="active">ng-template</a></li>
    <li><a routerLink="/ng-container" routerLinkActive="active">ng-container</a></li>
    <li><a routerLink="/template-variables" routerLinkActive="active">テンプレート変数</a></li>
    <li><a routerLink="/defer" routerLinkActive="active">&#64;defer</a></li>
    <li><a routerLink="/expression-syntax" routerLinkActive="active">式構文</a></li>
    <li><a routerLink="/whitespace" routerLinkActive="active">空白の扱い</a></li>
    <li class="highlight"><a routerLink="/graphic-records" routerLinkActive="active">グラフィックレコード</a></li>
  </ul>
</nav>
